---
layout: default
title: Пеленицын Артём Михайлович, домашняя страница
permalink: index.rus.html
---

<table>
	<tr>
	<td style="vertical-align:top">
		<img src="{{ site.mypic }}" height="250" valign border="0" />
	</td>
	<td valign="top">
		{% comment %} include bio from extern file in markdown: {% endcomment %}
		{% capture bio %}{% include bio.md %}{% endcapture %}
		{{ bio | markdownify }}
	</td>
</table>

{% comment %} include links from extern file in markdown: {% endcomment %}
{% capture links %}{% include links.md %}{% endcapture %}
{{ links | markdownify }}
