---
layout: default-en
title: Artem Pelenitsyn, homepage
permalink: index.html
---
<table cellspacing="6px">
	<tr>
	<td style="vertical-align:top">
		<img src="{{ site.mypic }}" height="250" border="0" />
		<p style="text-align: right">
		<!-- Facebook Badge START --><a href="https://www.facebook.com/ulysses4ever" target="_TOP" title="Artem Pelenitsyn"><img src="http://badge.facebook.com/badge/100000172753895.2893.1585810356.png" style="border: 0px;" /></a><!-- Facebook Badge END -->
		<br /><a href="http://www.twitter.com/ulysses4ever"><img src="http://twitter-badges.s3.amazonaws.com/twitter-b.png" alt="Follow me on Twitter"/>
		</p>
	</td>
	<td valign="top">
		<p><b>Born:</b> 1986, Rostov-na-Donu, Russia.

		<p><b>Education:</b> Master of Science in Applied Mathematics and Computer Science — 2009.

		<p><b>Alma mater:</b> <a href="http://sfedu.ru/index_eng.php">Southern Federal University</a>, Faculty of Mathematics, Mechanics and Computer Sciences (<a href="http://mmcs.sfedu.ru">MMCS, Мехмат</a>).

		<p><b>Current Activities:</b> PhD student at <a href="https://prl.ccs.neu.edu">Programming Research Laboratory</a>, Northeastern University.

		<p><b>e-mail:</b> a.pelenitsyn&#8203;@&#8203;gmail.com
	</td>
</table>
{% capture text %}{% include index-text-en.md %}{% endcapture %}
{{ text | markdownify }}

{% capture pubs %}{% include main-pubs-en.md %}{% endcapture %}
{{ pubs | markdownify }}

<!--/td>
<td>
<img src="http://projecteuler.net/profile/ulysses4ever.png" />
</td><!td>
</td></tr></table-->
