---
layout: default-en
title: Artem Pelenitsyn, homepage
permalink: index.html
---
<table cellspacing="6px">
	<tr>
	<td style="vertical-align:top">
		<img src="{{ site.mypic }}" height="250" border="0" />
		<p style="text-align: right">
      <a id="twitter-link" class="icon" title="Twitter Account" aria-label="Twitter Account"
        href="https://twitter.com/ulysses4ever">
        <i class="fab fa-twitter"></i></a>
      <a id="facebook-link" class="icon" title="Facebook Profile" aria-label="Facebook Profile"
        href="https://www.facebook.com/ulysses4ever">
        <i class="fab fa-facebook"></i></a>
      <a id="github-link" class="icon" title="Github Account" aria-label="Github Account"
        href="https://github.com/ulysses4ever">
        <i class="fab fa-github"></i></a>
  	</p>
	</td>
	<td valign="top">
		<p><b>Born:</b> 1986, Rostov-na-Donu, Russia.

		<p><b>Education:</b> Master of Science in Applied Mathematics and Computer Science — 2009.

		<p><b>Alma mater:</b> <a href="http://sfedu.ru/index_eng.php">Southern Federal University</a>, Faculty of Mathematics, Mechanics and Computer Sciences (<a href="http://mmcs.sfedu.ru">MMCS, Мехмат</a>).

		<p><b>Current Activities:</b> PhD student at <a href="https://prl.ccs.neu.edu">Programming Research Laboratory</a>, Northeastern University.

		<p><b>e-mail:</b> a.pelenitsyn&#8203;@&#8203;gmail.com
	</td>
</table>
{% capture text %}{% include index-text-en.md %}{% endcapture %}
{{ text | markdownify }}

{% capture pubs %}{% include main-pubs-en.md %}{% endcapture %}
{{ pubs | markdownify }}

