{% include base.html %}
<head>
  {{ page.url }} {{ depth }}
{% assign d = page.url | split: '/'
%} 
{{ d }}

  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <title>
    {% if page.title == "Home" %}
      {{ site.title-en }} &middot; {{ site.tagline-en }}
    {% else %}
      {{ page.title }} &middot; {{ site.title-en }}
    {% endif %}
  </title>

  <!-- CSS -->
  <link rel="stylesheet" href="{{ base }}/public/css/poole.css">
  <link rel="stylesheet" href="{{ base }}/public/css/syntax.css">

  <!-- Icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ base
  }}/public/apple-touch-icon-precomposed.png">
  <link rel="shortcut icon" href="{{ base }}/public/favicon.ico">

  <!-- RSS -->
  <!--link rel="alternate" type="application/rss+xml" title="RSS" href="{{
  base }}/atom.xml"-->
</head>
