{% include base.html %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head-en.html %}

  <body>

    <div class="container content">
      <div class="masthead">
        <h3 class="masthead-title">
          <a href="{{ base}}/{{ site.home-en }}" title="Home">{{ site.title-en }}</a>
          <small>{{ site.tagline-en }}</small>
        </h3>
        {% include ru.html %}
      </div>

      {{ content }}

      <div class="footer">
        <table style="font-size:12px;text-align:center"><tr>

          <td>(&#8580;) {{ site.time | date: '%Y' }} A. Pelenitsyn</td>
          
          <td><a href="https://github.com/ulysses4ever/ulysses.mmcs.sfedu.ru">GitHub Sources</a></td>

		  <td>
<!- START COUNTER CODE -->
<a href="http://www.xtrastats.com/"><script language="JavaScript">
<!-- 
var data = '&r=' + escape(document.referrer)
+ '&n=' + escape(navigator.userAgent)
+ '&p=' + escape(navigator.userAgent)
+ '&g=' + escape(document.location.href);
if (navigator.userAgent.substring(0,1)>'3')
data = data + '&sd=' + screen.colorDepth 
+ '&sw=' + escape(screen.width+'x'+screen.height);
document.write('<img border=0 hspace=0 '+'vspace=0 src="http://www.xtrastats.com/counter.php?i=16009' + data + '">');
// --></script></a>
<!-- END COUNTER CODE -->
</td>
        </tr></table>
      </div>
    </div>

  </body>
</html>
